<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite thread-count="1" verbose="1" name="TCE WEB SUITE" parallel="tests">
  <test name="Login Test">
    <classes>
      <class name="automation.Login"/>
    </classes>
  </test>
<test name="Logout Test">
     <classes>
       <class name="automation.Logout"/>
     </classes>
   </test>
</suite> 


